@page "/"
@using SME.DynamicBoard.UI
@using SME.DynamicBoard.UI.Components
 
<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
<button type="button" @onclick="@LoadIframe">Load Iframe</button>
<input type="text"  @bind="@crNo" />

<br />
<br />
<br />

@* <SME.DynamicBoard.UI.Components.DashboardRenderView Language=1 AutoLoad="true" DashboardId="128" dashboardData="EmptyDashboardData" /> *@

@* <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                @if (ChartDataForNewRequest is not null)
                {
                    @if (ChartDataForNewRequest.ChartParams.Count > 0)
                    {
                        <SME.DynamicBoard.UI.Components.ChartRenderView AutoLoad="true" IsAllowPrint="true" IsAllowRefresh="true" ChartId="@chartIdForNewRequest" ChartData="@ChartDataForNewRequest" />
                    }

                }
            </div>
            <div class="col-3">
                @if (ChartDataForPendingRequest is not null)
                {
                    @if (ChartDataForPendingRequest.ChartParams.Count > 0)
                    {
                        <SME.DynamicBoard.UI.Components.ChartRenderView AutoLoad="true" ChartId="@chartIdForPendingRequest" ChartData="@ChartDataForPendingRequest" />

                    }
                }

            </div>
            <div class="col-3">
                @if (ChartDataForIssuedRequest is not null)
                {

                    @if (ChartDataForIssuedRequest.ChartParams.Count > 0)
                    {
                        <SME.DynamicBoard.UI.Components.ChartRenderView AutoLoad="true" ChartId="@chartIdForIssuedRequest" 
                        ChartData="@ChartDataForIssuedRequest" />

                    }
                }

            </div>
            <div class="col-3">

                @if (ChartDataForRejectedRequest is not null)
                {
                    @if (ChartDataForRejectedRequest.ChartParams.Count > 0)
                    {
                        <SME.DynamicBoard.UI.Components.ChartRenderView AutoLoad="true" ChartId="@chartIdForRejectedRequest"
                        ChartData="@ChartDataForRejectedRequest" />
                    }
                }
            </div>


        </div>

    </div>
</div> *@

@code {
    public DashboardData DashboardData { get; set; } = new();
    static string dashboardID = "4";
    static string chartIDLable = "99";
 
    public SME.DynamicBoard.UI.DashboardData EmptyDashboardData { get; set; } = new();
    public SME.DynamicBoard.UI.DashboardData DashboardDataForNewRequest { get; set; } = new();
    public SME.DynamicBoard.UI.DashboardData DashboardDataForPendingRequest { get; set; } = new();
    public SME.DynamicBoard.UI.DashboardData DashboardDataForIssuedRequest { get; set; } = new();
    public SME.DynamicBoard.UI.DashboardData DashboardDataForRejectedRequest { get; set; } = new();

    string chartIdForNewRequest = "103";
    string chartIdForPendingRequest = "104";
    string chartIdForIssuedRequest = "106";
    string chartIdForRejectedRequest = "107";
    SME.DynamicBoard.UI.ChartData chartRenderView { get; set; } = new();
    SME.DynamicBoard.UI.Components.ChartRenderView chartRenderView1;
    string crNo = "1006414";

    protected override async Task OnInitializedAsync()
    {

    }


    public async Task LoadIframe()
    {
        DashboardDataForNewRequest = new();

        //ChartData.ReplaceValue("CRNombers", "1006414", "7058926");
        DashboardData.Add("CRNombers", new List<string> { crNo });
        DashboardData.Add("IsServiceEnded", new List<string> { "0" });

        // ChartData2.Add("YearOfEstablishment", new List<string> { "2023" });


       // ChartDataForNewRequest.Add("StartupsNewRequestStatus", new List<string> { "2" });

        // if (chartRenderView1 is not null)
        // {
        //     await chartRenderView1.Refersh();
        // }
        DashboardDataForNewRequest = new();
        DashboardDataForPendingRequest = new();
        DashboardDataForIssuedRequest = new();
        DashboardDataForRejectedRequest = new();

        // DashboardDataForNewRequest.Add("StartupsNewRequestStatus", new List<string> { "2" });
        // DashboardDataForPendingRequest.Add("StartupsPendingRequestIds", new List<string> { "4", "5", "6", "7", "8", "9" });
        // DashboardDataForIssuedRequest.Add("StartupsIssuedRequestID", new List<string> { "10" });
        // DashboardDataForRejectedRequest.Add("StartupsRejectedRequest", new List<string> { "3" });
        StateHasChanged();
    }


}
